# === BACKEND ===
Backend/.env
Backend/node_modules/
Backend/dist/

# === FRONTEND ===
Frontend/dist
Frontend/tmp
Frontend/out-tsc
Frontend/bazel-out
Frontend/node_modules/
Frontend/npm-debug.log
Frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Miscellaneous
Frontend/.angular/cache
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# System files
.DS_Store
Thumbs.db