<section class="cta-gradient py-20 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center from-left">
    <h2 class="text-3xl md:text-4xl font-bold mb-6">
      ¿Listo para transformar tu email marketing?
    </h2>
    <p class="text-xl mb-8 max-w-3xl mx-auto">
      Empeza hoy mismo y descubri cómo TemplateGenerator puede ayudarte a crear
      emails que realmente funcionen.
    </p>
    <a
      routerLink="/auth/register"
      class="inline-block bg-white text-purple-600 px-8 py-4 rounded-lg font-bold text-lg hover:bg-gray-100 transition duration-300"
      >Crea tu cuenta gratis</a
    >
  </div>
</section>
