<aside
  class="sidebar sidebar-expanded text-white flex flex-col ease-in-out duration-300 sidebar bg-indigo-800 h-full"
  [class.sidebar-collapsed]="!isCollapsed"
  [class.sidebar-expanded]="isCollapsed"
>
  <!-- Toggle -->
  <div class="flex justify-center items-center px-4 py-8 border-indigo-700">
    <button (click)="openMenu()">
      @if (!isCollapsed) {
      <ng-icon
        class="text-2xl ease-in-out duration-300"
        name="heroBars4Solid"
      />
      } @else {
      <div class="flex justify-between items-center">
        <ng-icon class="text-2xl mr-3" name="heroEnvelopeOpenSolid" />
        <p>TemplateGenerator</p>
      </div>
      }
    </button>
  </div>

  <!-- User Profile -->
  <div class="p-4 flex items-center border-b border-indigo-700">
    @if (user()) {
    <img
      [src]="user()?.image || 'https://randomuser.me/api/portraits/lego/1.jpg'"
      alt="User"
      class="w-10 h-10 rounded-full mr-3"
    />
    <div [ngClass]="{ hidden: !isCollapsed }">
      <p class="font-medium">{{ user()?.firstname }} {{ user()?.lastname }}</p>
      <p class="text-xs text-indigo-300">Marketing Manager</p>
    </div>
    } @else {
    <img
      src="https://randomuser.me/api/portraits/lego/1.jpg"
      alt="Default avatar"
      class="w-10 h-10 rounded-full mr-3"
    />
    <div [ngClass]="{ hidden: !isCollapsed }">
      <p class="font-medium">Cargando...</p>
      <p class="text-xs text-indigo-300">Marketing Manager</p>
    </div>
    }
  </div>

  <!-- Nav -->
  <nav class="flex-1 overflow-y-auto">
    <div class="p-2">
      <p
        id="nav-title"
        class="text-xs uppercase text-indigo-400 px-4 py-2"
        [ngClass]="{ hidden: !isCollapsed }"
      >
        Marketing Tools
      </p>
      <ul>
        <li
          class="flex justify-center items-center bg-indigo-900 mb-1 mx-2 rounded-lg text-white"
        >
          <a routerLink="/dashboard/home" class="flex items-center py-3">
            <ng-icon class="text-xl" name="heroLifebuoySolid" />
            <span class="ml-3" [ngClass]="{ hidden: !isCollapsed }"
              >Dashboard</span
            >
          </a>
        </li>
        <li
          class="flex justify-center items-center bg-indigo-900 mb-1 mx-2 rounded-lg text-white"
        >
          <a routerLink="/dashboard/create" class="flex items-center py-3">
            <ng-icon class="text-xl" name="heroPlusCircleSolid" />
            <span class="ml-3" [ngClass]="{ hidden: !isCollapsed }"
              >Crear plantilla</span
            >
          </a>
        </li>
        <li
          class="flex justify-center items-center bg-indigo-900 mb-1 mx-2 rounded-lg text-white"
        >
          <a routerLink="/dashboard/templates" class="flex items-center py-3">
            <ng-icon class="text-xl" name="heroQueueListSolid" />
            <span class="ml-3" [ngClass]="{ hidden: !isCollapsed }"
              >Ver plantillas creadas</span
            >
          </a>
        </li>
      </ul>
    </div>
    <div class="p-2">
      <p
        id="nav-title"
        class="text-xs uppercase text-indigo-400 px-4 py-2"
        [ngClass]="{ hidden: !isCollapsed }"
      >
        Settings
      </p>
      <ul>
        <li
          class="flex justify-center items-center bg-indigo-900 mb-1 mx-2 rounded-lg text-white"
        >
          <a routerLink="/dashboard/account" class="flex items-center py-3">
            <ng-icon class="text-xl" name="heroUserCircleSolid" />
            <span class="ml-3" [ngClass]="{ hidden: !isCollapsed }"
              >Perfil</span
            >
          </a>
        </li>
        <li
          class="flex justify-center items-center bg-indigo-900 mb-1 mx-2 rounded-lg text-white"
        >
          <a
            routerLink="/dashboard/help"
            class="flex justify-between items-center py-3"
          >
            <ng-icon class="text-xl" name="heroCog6ToothSolid" />
            <span class="ml-3" [ngClass]="{ hidden: !isCollapsed }"
              >Soporte</span
            >
          </a>
        </li>
        <li
          class="flex justify-center items-center bg-indigo-900 mb-1 mx-2 rounded-lg text-white"
        >
          <a
            class="flex justify-between items-center py-3 cursor-pointer"
            (click)="logout()"
          >
            <ng-icon class="text-xl" name="heroArrowLeftOnRectangleSolid" />
            <span class="ml-3" [ngClass]="{ hidden: !isCollapsed }"
              >Cerrar sesion</span
            >
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
