<app-hero />
<section class="py-20 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 from-top">
    <div class="text-center mb-16">
      <h2 class="text-3xl font-bold text-gray-900 mb-4">
        Potencia tus campañas de email marketing
      </h2>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto">
        Todo lo que necesitas para crear emails que generen resultados
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <app-card
        icon="heroPaintBrushSolid"
        title="Diseño intuitivo"
        description="Arrastra y suelta elementos para crear emails hermosos en minutos, sin código."
      />
      <app-card
        icon="heroDevicePhoneMobileSolid"
        title="Responsive automático"
        description=" Tus emails se verán perfectos en cualquier dispositivo, automáticamente."
      />
      <app-card
        icon="heroArrowTrendingUpSolid"
        title="Plantillas optimizadas"
        description=" Plantillas diseñadas para maximizar el engagement y las conversiones. "
      />
    </div>
  </div>
</section>
<app-jumbotron />
<section class="py-20 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <app-testimonials
        icon="heroStarSolid"
        testimonial="TemplateGenerator ha reducido nuestro tiempo de creación de emails en un 70%. Ahora podemos lanzar campañas más rápido y con mejor diseño."
        image="https://randomuser.me/api/portraits/women/43.jpg"
        name="María González"
        description="Directora de Marketing, TechSolutions"
      />
      <app-testimonials
        icon="heroStarSolid"
        testimonial="Las tasas de apertura de nuestros emails han aumentado un 40%
              desde que empezamos a usar las plantillas optimizadas de
              TemplateGenerator."
        image="https://randomuser.me/api/portraits/men/32.jpg"
        name="Carlos Martínez"
        description="CEO, DigitalAgency"
      />
      <app-testimonials
        icon="heroStarSolid"
        testimonial="Como pequeña empresa, no podíamos permitirnos un diseñador.
              TemplateGenerator nos da resultados profesionales a una fracción
              del costo."
        image="https://randomuser.me/api/portraits/women/65.jpg"
        name="Laura Fernández"
        description="Fundadora, EcoBoutique"
      />
    </div>
  </div>
</section>
